/* VARS */
:root {
  --font: 'Roboto', sans-serif;
  --font-width-p: .5rem;
  --font-width-button: .8rem;
  --width-content: 250px;
  --width-login: 400px;
  --height-container: 420px;
  --color-primary: #5CA8A0;
  --color-secondary: #BC6246;
  --color-white: #F8F8F8;
}

/* RESET */
* {
  font-family: var(--font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: var(--color-primary);
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTENT */
/* .content {
  display: flex;
  width: var(--width-content);
  height: var(--height-container);
  background: linear-gradient(rgba(188, 98, 70, .5), rgba(188, 98, 70, .5)), url("../img/coantent.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  flex-direction: column;
}

.login {
  display: flex;
} */