/* VARS */
:root {
  --font: 'Roboto', sans-serif;
  --font-width-p: .5rem;
  --font-width-button: .8rem;
  --width-content: 250px;
  --width-login: 400px;
  --height-container: 420px;
  --color-primary: #5CA8A0;
  --color-secondary: #BC6246;
  --color-hover: #bb6b52;
  --color-white: #F8F8F8;
}

/* RESET */
* {
  font-family: var(--font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* BODY */
body {
  background-color: var(--color-primary);
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTENT */
.content {
  box-shadow: 0 .2rem 1rem rgb(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: var(--width-content);
  height: var(--height-container);
  background: linear-gradient(rgba(188, 98, 70, .5), rgba(188, 98, 70, .5)), url("../img/coantent.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 2rem 0 0 2rem;
}

.title {
  color: var(--color-white);
  font-size: 2.5rem;
  text-shadow: .2rem .1rem .2rem rgba(0, 0, 0, .5);
}

.desc {
  color: var(--color-white);
  text-shadow: .2rem .1rem .2rem rgba(0, 0, 0, .5);
  font-size: 1.5rem;
}

/* LOGIN */
.login {
  box-shadow: 0 .2rem 1rem rgb(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-login);
  height: var(--height-container);
  background-color: var(--color-white);
  border-radius: 0 2rem 2rem 0;
  padding: 1rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form #name, .form #password {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-white);
  border-radius: .5rem;
  margin-bottom: 2rem;
  width: 18rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
  border-bottom: .1rem solid #ccc;
}

input::placeholder {
  font-size: 1rem;
  color: #d2d2d2;
}

/* BTN */
.btn {
  width: 18rem;
  margin-top: 1rem;
  padding: .8rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--color-hover);
}

/* DESC FORM */
.desc-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18rem;
}

.desc-form a {
  font-size: .8rem;
  font-weight: bold;
  margin-top: 1rem;
  color: var(--color-secondary);
}